
<div class="w-full rounded overflow-hidden shadow-lg">
    <img class="w-full h-auto bg-opacity-5" src="assets/images/home.jpg" alt="Sunset in the mountains">

    <div class="px-6 py-4">
    

      <figcaption class="absolute mb-28 mt-2 bottom-4">
        <p class=" px-60 font-semibold bg-neutral-50 text-black text-5xl items-center">An Amalgamation of Imagination and Innovation!</p>
     
    </figcaption>&nbsp;&nbsp;<div>
      <p class="text-black font-extrabold text-3xl mb-4 ">
        Why Work With US?
      </p>
    </div>
      
<div class="flex">
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg h-64" src="assets/images/mi.jpg" alt="" />
  </a>
  <div class="p-5">
      <a href="#">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Our Mission</h2>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">To serve and inspire through innovation and leadership.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none">
          Read more
           
      </a>
  </div>
</div>
<div class="max-w-sm ml-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg h-64" src="assets/images/vision.jpg" alt="" />
  </a>
  <div class="p-5">
      <a href="#">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Our Vision</h2>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Be the global leader and preffered partner in helping our clients succeed.</p>
      <a href="#" class="inline-flex mb-4 items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none">
          Read more
           
      </a>
  </div>
</div>
<div class="max-w-sm ml-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="https://img.freepik.com/premium-photo/finger-holding-stick-with-words-our-core-values-concept-core-value-main-value_694006-43.jpg" alt="" />
  </a>
  <div class="p-5">
      <a href="#">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Our Values</h2>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Integrity, Teamwork, Innovation, Imagination, Quality for equity and inclusion.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none">
          Read more
           
      </a>
  </div>
</div>
</div>
<div class="mt-8"></div>


  
  <a href="#" class="block w-full h-64 p-6 bg-gray-100 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <p class="mb-2 text-3xl items-center text-center font-extrabold py-6 text-gray-900 dark:text-white">Join Our Talent Networks</p>
    <p class="font-semibold text-center py-0 text-gray-700 dark:text-gray-400">Stay informed of new roles, programs, and recruitment drives and become part of the talent community.</p>
  
    <div class="flex justify-center items-center">
      <button type="button" class="px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:bg-teal-900 focus:outline-none" (click)="direct()">
        Join Now
      </button>
      
    </div>
  </a>
  
  


    </div>
   
  </div>