<div class="px-4 mx-auto max-w-screen-xl text-center  lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Driving Innovation and Excellence</h1>
    <p class="mb-8 text-lg font-normal text-gray-700 lg:text-xl sm:px-16 lg:px-48">  We seek to serve and inspire through innovation and leadership, ensuring continued success <br>and sustainable, perpetual growth for.</p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <a href="https://muraai.com/about-us/">  
            <button class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg">Know More</button>
        </a> 
    </div>
</div>