<header class="bg-teal-900 h-20">
  <nav class="flex justify-between items-center w-[98%]">
   
    <div>
      <img class="w-32 h-auto py-8" src="assets/images/Pic.png">
    </div>
  <div>
      <ul class="flex items-center gap-[4vw] text-neutral-50 mt-4 ">
        <li>
          <i class="fas fa-home"></i>&nbsp;
           <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <i class="fas fa-info-circle"></i>&nbsp;
          <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>  
          <!-- <ng-container *ngIf="!isLoggedIn(); else disabledLink"> -->
            <i class="fa fa-graduation-cap"></i>&nbsp;
            <a routerLink="/careers" routerLinkActive="active" (click)="alrMsg()">Career</a>
          <!-- </ng-container> -->
          <!-- <ng-template #disabledLink>
            <span>Career</span>
          </ng-template> -->
        </li>
        <li>
          <i class="fas fa-briefcase"></i>&nbsp;
          <a routerLink="/formDetails" routerLinkActive="active">Details</a>
        </li>
      </ul>
    </div>
  
  <div>
    <!-- <i class="far fa-user-circle" class="color: #fafafa;"></i> -->
        <button *ngIf="!isLoggedIn" 
          class="bg-transparent hover:bg-teal-900 text-neutral-50 font-semibold hover:text-white py-2 px-4 border border-white hover:border-white rounded ml-12 mt-2" 
          (click)="loginWithKeycloak()">Login</button>
          
          <button *ngIf="isLoggedIn"
          class="bg-transparent hover:bg-teal-900 text-neutral-50 font-semibold hover:text-white py-2 px-4 border border-white hover:border-white rounded ml-12 mt-2" 
          (click)="logoutWithKeycloak()">Logout</button>
    </div>

  </nav>
</header>
<header class="bg-yellow-50 h-14">
  <ul class=" text-teal-900 font-extrabold py-4 px-4 text-xl ">
  <li *ngIf="isLoggedIn" class="flex items-center">
    <i class="fas fa-user"></i>&nbsp;
    <span CLASS="ml-2">{{ username }}</span>
    <!-- <p class="flex items-center justify-center">Welcome to the Muraai's Career Portal</p> -->
  </li>
</ul>
</header>

<router-outlet></router-outlet>