<!-- <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"> -->
    <h2 class=" text-center font-extrabold text-base leading-none text-teal-900 pt-16">JOB OPENINGS</h2>
    <h1 class="text-3xl font-extrabold mb-20 text-center pt-4">Current Opening Positions</h1>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <table class="w-76 bg-teal-900 text-sm text-left text-gray-500 dark:text-gray-400 mx-auto">        
       
            <tbody>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        Assosciate Software Consultant
                    </th>
                    <td class="px-24 py-4">
                        <button type=submit class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg" (click)="onSubmit()">Apply Job</button>
                    </td>
                   
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        Senior Software Consultant
                    </th>
                    <td class="px-24 py-4">
                        <button type=submit class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg" (click)="onSubmit()">Apply Job</button>
                    </td>
                   
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        Angular Developer
                    </th>
                    <td class="px-24 py-4">
                        <button type=submit class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg" (click)="onSubmit()">Apply Job</button>
                    </td>
                  
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        Technical Support
                    </th>
                    <td class="px-24 py-4">
                        <button type=submit class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg" (click)="onSubmit()">Apply Job</button>
                    </td>
                  
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                        Project Manager
                    </th>
                    <td class="px-24 py-4">
                        <button type=submit class="bg-teal-900 text-white font-semibold px-4 py-2 w-46 rounded-lg" (click)="onSubmit()">Apply Job</button>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    <!-- </div> -->
</div>